# .gitignore

EDH-7916/
reproducible-report/

site-attachments/btskinner-imgs/
_btskinner/
.DS_Store
.Rhistory
.sass-cache
_site
_site_dev
_download
_student
figures/repo-
data/*
# /* required to ignore all except some / ignores all 
!/data/hsls-small.csv
!/data/hsls-small.dta
!/data/sch-test/
!/data/rcpp/
!/data/hd2007.csv
!/data/ic2007mission.csv
!/data/els-plans.dta
!/data/mapping-api-data.csv
!/data/test-scores.RDS
!/data/kmeans.RDS
!/data/ipeds-finance
!/data/ggplot2-challenge-data.csv
/.quarto/
_solutions/
/.luarc.json
.Rproj.user
